# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 639d97afca9063f731e030af9d8d951f530935e36705305d8c0913448af3883d97eb2af22f321506a86b0dfcdfe0323c5da12502ba2314c2d8319dec665acc2b

test:
  secret_key_base: 12a08add0167587afa28fbb971f01154e9c8169e0b514a662690f7f357d3864c964f5712af9aa2cab52081aada6b87eccbefced753cc7b732554aa94826b73ae

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
